body{
	font-family: 'Hind', sans-serif;
}
section#geo-hero {
    height: 507px;
    color: #fff;
}

section#geo-hero .container {
    height: 100%;
    position: relative;
}

section {
    text-align: center;
    position: relative;
    padding: 60px 0;
}

section#geo-hero:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgb(94 94 94 / 40%);
	z-index: 0;
}
.geo-hero-text h4 {
    font-size: 26px;
}

.geo-hero-text h2 {
    font-size: 54px;
}

.geo-hero-text p {
    font-size: 22px;
    font-weight: 300;
}
section#geo-slider {
    background: #eae8e5;
}

section#geo-started {
    background: #eae8e5;
}

section#geo-slider strong {
    color: #373634;
    display: inline-block;
    margin-bottom: 40px;
}
section#geo-started h2 {
    font-size: 26px;
    color: #29a044;
    margin-bottom: 20px;
}

section#geo-started p {
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    color: #6f6e6c;
}

#geo-started button.geo-btn {
    margin-top: 30px;
    border: none;
}

.geo-btn {
    padding: 15px 40px;
    border-radius: 2px;
    font-size: 18px;
}

button.geo-btn.btn-primary {
    background: #4990e2;
}

section#geo-blog h2 {
    font-size: 28px;
}
.carousel-item {
    text-align: center;
    padding: 0 15%;
}

.carousel-item img {
    margin-bottom: 40px;
    max-width: 100%;
}

.carousel-item p {
    font-size: 16px;
    font-weight: 300;
    color: #6f6e6c;
}
ol.carousel-indicators {
    bottom: -20px;
}
.carousel-control-prev, .carousel-control-next {
    align-items: end;
    bottom: 20px;
    color: #43423e;
    font-size: 33px;
}
.carousel-control-prev span, .carousel-control-next span {
    border: solid 1px #aaaaa6;
    border-radius: 50px;
    padding: 6px 11px 0px;
    text-align: center;
}
.carousel-control-prev span, .carousel-control-next span {
    border: solid 1px #aaaaa6;
    border-radius: 50px;
    padding: 6px 11px 0px;
    text-align: center;
}

ol.carousel-indicators li {
    width: 6px;
    border-radius: 10px;
    height: 6px;
    background: #adaa9f;
    display: inline-block;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    background-color: #adaa9f;
    margin-top: -2px;
}
.carousel-item h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #40413f;
}
section#geo-blog {
}
.geo-thumbnail img {width: 85%;}
.geo-article {
    text-align: left;
}

.entry-title {
    font-size: 23px;
    margin-bottom: 20px;
    color: #393939;
    font-weight: 600;
}

.geo-article p {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 100;
    line-height: 28px;
}

a.geo-btn.btn-secondary {
    background: none;
    border: solid 1px #202020;
    color: #202020;
    font-size: 16px;
    padding: 10px 28px;
    margin-top: 40px;
    display: inline-block;
}

.geo-article .row {
    margin: 70px 0;
}

section#geo-cta {
    background: #262626;
    color: #fff;
}

section#geo-cta h2 {
    font-size: 26px;
    margin-bottom: 20px;
}

section#geo-cta p {
    font-size: 16px;
    font-weight: 100;
    color: #9e9e9e;
    margin-bottom: 40px;
}

section#geo-cta ul {
    list-style: none;
    padding: 0;
}

section#geo-cta ul li {
    display: inline;
    margin-right: 30px;
}

section#geo-cta ul li a {
    color: #54a4c7;
}
@media only screen and (max-width: 600px) {
	.entry-title {
	    margin-top: 20px;
	}

	a.geo-btn.btn-secondary {
	    margin-bottom: 20px;
	}
}