.bgKuning{
    background: #f7ef85
}

.data:hover{
    background: #eee
}

.pointer{
    cursor: pointer
}


#map-thematic {
    margin: 0;
    height: 45vh;
    width: 100%;
    font-family: sans-serif;
  }
  

  .ipl-progress-indicator {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    background-color:rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 1;
    pointer-events: none;
    -webkit-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
    -moz-transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
    transition: opacity cubic-bezier(.4, 0, .2, 1) 436ms;
    z-index: 9999
  }

  .loader {
    margin-left: auto;
    margin-right: auto;
  }

  .available {
    opacity: 0
  }